.custom_select {
    position: relative;
    display: inline-block;
    margin: 5px;
}

.select {
    font: inherit;
    cursor: pointer;

    display: flex;
    align-items: center;

    height: 30px;
    width: 50px;
    border:none;
    padding: 0 15px 0 10px;
}

.options {
    position: absolute;
    background-color: inherit;

    width: 100%;
    border-top: 1px solid;
}

.option {
    padding: 5px 0 5px 10px;
}
.option:hover{
    cursor: pointer;
    background-color: var(--option-hover);
}

.rotate {
    transform: rotate(180deg);
}

.arrow {
    position: absolute;
    top: 0;
    right: 0;
    
    height: 30px;
    width: 20px;
    margin-right: 2px;
    
    pointer-events: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}